.gallery__layer
  display flex
  justify-content space-around
  flex-wrap wrap

.post__pic
  display flex
  flex-direction column

  // height 275px
  // width 225px
  flex-basis 33.33%
  padding 20px
  //width 30%
  //background-color #fff

  img
    flex 1



.post__container
  align-items center
  background-color white
  display flex
  justify-content space-around
  padding .5rem


.post__pro
  border-radius 50%
  height 30px
  width 30px
  overflow hidden

  img
    height 30px
    object-fit cover



.post__name
  flex 3
  padding-left 5px

.post__like
  flex 1
  padding-left 25px

.icon--ei-heart
  fill pink




//
// .gallery
//
//   &__layer
//
//   &__card
//
//   &__image
//
//     img
//
//   &__info
//
//   &__profilepic
//
//     img
//
//   &__metainfo
//
//   &__heading
//
//   &__date
//
//   &__likes
//
//   &__like-count
//     //
