doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title instagram
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //-link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='/style.css')
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
    
    
    
  body
    .container
      .sidebar__layer
        .instagram__logo
          h1 Instagram
        .nav__layer
          ul.nav__items
            li.nav__link
              a(href="#"): icon(name="ei-trophy" size="s") Warriors
            li.nav__link
              a(href="#"): icon(name="ei-cart" size="s") Cavs
            li.nav__link
              a(href="#"): icon(name="ei-sc-soundcloud" size="s") Thunder
            li.nav__link
              a(href="#"): icon(name="ei-gear" size="s") Spurs
            li.nav__link
              a(href="#"): icon(name="ei-eye" size="s") Bulls
            li.nav__link
              a(href="#"): icon(name="ei-paperclip" size="s") Clippers
            li.nav__link
              a(href="#"): icon(name="ei-like" size="s") Heat
            li.nav__link 
              a(href="#"): icon(name="ei-sc-telegram" size="s") Mavs

        .footer__layer
          .footer__circle
            a(href="#"): icon(name="ei-exclamation" size="s") 
          .footer__people
            a(href="#"): icon(name="ei-user" size="s")
      .content__layer
        .utility__layer
          h2.utility__heading Top Posts
          .utility__container
            form.utility__search
              icon(name="ei-search")
              input(type="text", placeholder="search")
            .utility__profile
              img(src="img/person.jpg", class="utility__picture")
              p.utility__number 3456
              
              
        //- .gallery__layer
        //-   - var n = 9
        //-     while n--
        //-       .gallery__card
        //-         .gallery__image
        //-           img(src='img/person.jpg')
        //-         .gallery__info
        //-           .gallery__profilepic
        //-             img(src='')
        //-           .gallery__metainfo
        //-             h2.gallery__heading Hellen Tran
        //-             h6.gallery__date one month ago
        //-           .gallery__likes
        //-             p.gallery__like-count
        //-             icon(name="ei-heart" size="s") 
                    
                  

        .gallery__layer
          .post__pic
            img(src="img/person.jpg", class="gal__pic1")
            .post__container
              .post__pro
                img(src="img/person.jpg", class="pro__pic")
              .post__name
                h4 Hellen Tran  
                p 2 weeks ago
              .post__like
                a(href="#"): icon(name="ei-heart" size="s")
          .post__pic
            img(src="img/flower.jpg", class="gal__pic2")
            .post__container
              .post__pro
                img(src="img/flower.jpg", class="pro__pic")
              .post__name
                h4 Daffa Dill  
                p 1 month ago
              .post__like
                a(href="#"): icon(name="ei-heart" size="s")
          .post__pic
            img(src="img/ocean.jpg", class="gal__pic3")
            .post__container
              .post__pro
                img(src="img/ocean.jpg", class="pro__pic")
              .post__name
                h4 Danny Ocean  
                p 3 months
              .post__like
                a(href="#"): icon(name="ei-heart" size="s")
          .post__pic
            img(src="img/person.jpg", class="gal__pic4")
            .post__container
              .post__pro
                img(src="img/person.jpg", class="pro__pic")
              .post__name
                h4 Hellen Tran  
                p 2 weeks ago
              .post__like
                a(href="#"): icon(name="ei-heart" size="s")
          .post__pic
            img(src="img/flower.jpg", class="gal__pic5")
            .post__container
              .post__pro
                img(src="img/flower.jpg", class="pro__pic")
              .post__name
                h4 Daffa Dill  
                p 1 month ago
              .post__like
                a(href="#"): icon(name="ei-heart" size="s")
          .post__pic
            img(src="img/ocean.jpg", class="gal__pic6")
            .post__container
              .post__pro
                img(src="img/ocean.jpg", class="pro__pic")
              .post__name
                h4 Danny Ocean  
                p 3 months
              .post__like
                a(href="#"): icon(name="ei-heart" size="s")
          .post__pic
            img(src="img/person.jpg", class="gal__pic7")
            .post__container
              .post__pro
                img(src="img/person.jpg", class="pro__pic")
              .post__name
                h4 Hellen Tran  
                p 2 weeks ago
              .post__like
                a(href="#"): icon(name="ei-heart" size="s")
          .post__pic
            img(src="img/flower.jpg", class="gal__pic8")
            .post__container
              .post__pro
                img(src="img/flower.jpg", class="pro__pic")
              .post__name
                h4 Daffa Dill  
                p 1 month ago
              .post__like
                a(href="#"): icon(name="ei-heart" size="s")
          .post__pic
            img(src="img/ocean.jpg", class="gal__pic9")
            .post__container
              .post__pro
                img(src="img/ocean.jpg", class="pro__pic")
              .post__name
                h4 Danny Ocean  
                p 3 months
              .post__like
                a(href="#"): icon(name="ei-heart" size="s")

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

    //-script(src='javascripts/plugins.js')
    //-script(src='javascripts/script.js')
    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
