*
  //border solid magenta 1px

//Resets
*
  box-sizing border-box
  margin 0
  padding 0

a
  text-decoration none

img
  height auto
  max-width 100%

li
  list-style none

:root
  font-size 16px

body
  line-height 1.5
  color #333

.container
  display flex
  height 100vh
  overflow hidden

.sidebar__layer
  flex 1
  height 100vh
  display flex
  flex-direction column
  align-items center
  justify-content space-between

.instagram__logo
  text-align center
  flex 1



.nav__layer
  flex 6
  padding 1rem 0 0 1.5rem
  width 100%


.nav__items
  display: flex;
  align-items: flex-start;
  flex-direction: column;

.nav__link
  padding .5rem 0

  a
    display flex
    align-items center
    color #333


.footer__layer
  display flex
  width 100%
  justify-content space-around


.footer__circle
  //

.footer__people
  //




.content__layer
  background-color #e6e6e6
  flex 4
  overflow-y scroll

.utility__layer
  display flex
  justify-content: space-between;
  padding-top 20px

.utility__heading
  padding-left 20px

.utility__container
  display flex
  padding-right 20px

.utility__search
  align-items center
  display flex

  input
    border-radius: 0 10px 10px 0;
    border-style: none;
    padding-left: .5rem;

  .icon--ei-search
    background: white;
    border-radius: 10px 0 0 10px;
    display: block;

.utility__profile
  align-items center
  display flex

.utility__picture
  border-radius 50%
  height 30px
  width 30px
  margin 0 1rem



.gallery__layer
  display flex
  justify-content space-around
  flex-wrap wrap

.post__pic
  display flex
  flex-direction column

  // height 275px
  // width 225px
  flex-basis 33.33%
  padding 20px
  //width 30%
  //background-color #fff

  img
    flex 1



.post__container
  align-items center
  background-color white
  display flex
  justify-content space-around
  padding .5rem


.post__pro
  border-radius 50%
  height 30px
  width 30px
  overflow hidden

  img
    height 30px
    object-fit cover



.post__name
  flex 3
  padding-left 5px

.post__like
  flex 1
  padding-left 25px




//
// .gallery
//
//   &__layer
//
//   &__card
//
//   &__image
//
//     img
//
//   &__info
//
//   &__profilepic
//
//     img
//
//   &__metainfo
//
//   &__heading
//
//   &__date
//
//   &__likes
//
//   &__like-count
//     //
