.utility__layer
  display flex
  justify-content: space-between;
  padding-top 20px

.utility__heading
  padding-left 20px

.utility__container
  display flex
  padding-right 20px

.utility__search
  align-items center
  display flex

  input
    border-radius: 0 10px 10px 0;
    border-style: none;
    padding-left: .5rem;

  .icon--ei-search
    background: white;
    border-radius: 10px 0 0 10px;
    display: block;

.utility__profile
  align-items center
  display flex

.utility__picture
  border-radius 50%
  height 30px
  width 30px
  margin 0 1rem
