.sidebar__layer
  flex 1
  height 100vh
  display flex
  flex-direction column
  align-items center
  justify-content space-between

.instagram__logo
  text-align center
  flex 1



.nav__layer
  flex 6
  padding 1rem 0 0 1.5rem
  width 100%


.nav__items
  display: flex;
  align-items: flex-start;
  flex-direction: column;

.nav__link
  padding .5rem 0

  a
    display flex
    align-items center
    color #333
    transition transform .1s ease-in-out

    &:hover
      color #ccc
      transform translateX(.5rem)


.footer__layer
  display flex
  width 100%
  justify-content space-around


.footer__circle
  //

.footer__people
  //
